[user]
	email = robertzhouxh@gmail.com
	name = xuehao.zhou

[color]
    ui = true
    diff = auto
    status = auto

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
